Part A: Conditional statements and loops

In [1]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [2]:
for tov in ('Fridays', 'Thursdays', 'Saturdays' ):
    print("I like", tov)

I like Fridays
I like Thursdays
I like Saturdays

In [3]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for meat in person:
    print("Key:", meat, ",", "Value:", person[meat])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [4]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [5]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!
Today is Thursday
Today is Friday

In [6]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [7]:
2 * 10 + (20 ** 2 // 10 - 10)

50

In [8]:
name = "Iyayi Tovia"

In [9]:
print("The winner of the PyLadies-WIMBIZ Genie Ladies contest is Engr.Ms {}".format(name), "!")

The winner of the PyLadies-WIMBIZ Genie Ladies contest is Engr.Ms Iyayi Tovia !

In [10]:
height = 170.2
int(height)

170

In [11]:
87//1.7

51.0

In [12]:
87/1.7

51.1764705882353

In [13]:
87%1.7

0.30000000000000226

In [14]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [15]:
not 'Athos' in the_3_musketeers

False

In [16]:
first_born = 'Athos'
land_lady = "Tovia"

In [17]:
first_born in the_3_musketeers

True

In [18]:
if first_born in the_3_musketeers:
    print("{} is a musketeer!".format(first_born))
else:
    print("{} is not a musketeer".format(first_born))
if not land_lady in the_3_musketeers:
    print("{} is not a musketeeress, lol".format(land_lady))

Athos is a musketeer!
Tovia is not a musketeeress, lol

In [19]:
today = 'Wednesday'

In [20]:
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
if today != 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.
Today is the day of Saturn, the god of fun and feasting.

In the above cell, I tried running for Saturday with elif and the result only contained that of Wednesday, meaning that the the code would only keep running till it gets to a condition that is True. That condition remains its last bus stop unless there's a fresh "if" code below.
Jovian-"This is the key difference between using a chain of `if`, `elif`, `elif`... statements vs. a chain of `if` statements, where each condition is evaluated independently."

In [21]:
if { 'a'}:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [22]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisibule by 3".format(a_number))

NameError: name 'a_number' is not defined

In [23]:
a_number = 13

In [24]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisibule by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisibule by 5".format(a_number))

13 is odd
13 is not divisibule by 5

In [25]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
elif a_number % 3 == 0:
    print("{} is also divisible by 3".format(a_number))
else:
    print("{} is not divisibule by 3".format(a_number))

13 is not divisibule by 3

In [26]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
elif a_number % 3 == 0:
    print("{} is also divisible by 3".format(a_number))
else:
    print("{} is not divisibule by 3".format(a_number))

13 is not divisibule by 3

In [27]:
if a_number % 2 == 0:
    print("{} is odd".format(a_number))
elif a_number % 5 == 0:
    print("{} is also divisible by 5".format(a_number))
else:
    print("{} is not divisibule by 5".format(a_number))

13 is not divisibule by 5

In [28]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'
    idk = 'applicable'

print('The number {} is {} and {}.'.format(a_number, parity, idk))

The number 13 is odd and applicable.

In [29]:
result = 1
i = 1

while i <= 5:
    result = result * i
    i = i+1

print('The factorial of 5 is: {}'.format(result))

The factorial of 5 is: 120

In [30]:
i = 1
result = 1

while i <= 5:
    i = i+1
    result = result * i

print('The factorial of 5 is: {}'.format(result))

The factorial of 5 is: 720

In [31]:
result = 1
i = 1
while i <= 10:
    result = result * i
    i = i + 1

In [32]:
result

3628800

In [33]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [34]:
result = 1
i = 99
while i <= 100:
    result = result * i
    i = i + 1
print(result)

9900

In [35]:
i = 1
result = 1

while i <= 100:
    result *= i
    i += 1
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 33452526613163807108170062053440751665152000000000

In [36]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [37]:
i = 1
result = 1

while i <= 41:
    result *= i
    i += 1
print('result:', result)

result: 33452526613163807108170062053440751665152000000000

Notice what happens in 35, 36 and 37?
As seen in 37, the result of 35 is 41! and the result of 36 is 42! 
Why did 35 stop at 41! and not 42! like we wanted (note that 35 and 36 are arranged differently)
Consider that in a loop instruction moves from one line to the next and starts all over until the while condition is no more satisfied.
**In 36**, when the next i += 1 was 42, the 42 was fed into while i<=100 and then result ×=i. Moving to the next line which is if i==42 we see that there is a break. But before that break, the result for i = 42 had already been executed.**In 35**, i += 1 could not get to feed 42 into while i <= 100 because it met a "break at 42" before doing that

In [38]:
i = 1
while i<=5:
    print('Jesus is Lord')
    i += 1

Jesus is Lord
Jesus is Lord
Jesus is Lord
Jesus is Lord
Jesus is Lord

In [40]:
i = 1
j = 1
while i<=5:
    print('Tovia')
    while j<=3:
        print('Winner')
        j += 1
    i += 1

Tovia
Winner
Winner
Winner
Tovia
Tovia
Tovia
Tovia

In [41]:
i = 1

while i<=5:
    print('Tovia')
    j = 1
    while j<=3:
        print('Winner')
        j += 1
    i += 1

Tovia
Winner
Winner
Winner
Tovia
Winner
Winner
Winner
Tovia
Winner
Winner
Winner
Tovia
Winner
Winner
Winner
Tovia
Winner
Winner
Winner

In [1]:
i = 1

while i<=5:
    print('Tovia',end="")
    j = 1
    while j<=3:
        print('Winner')
        j += 1
    i += 1

ToviaWinner
Winner
Winner
ToviaWinner
Winner
Winner
ToviaWinner
Winner
Winner
ToviaWinner
Winner
Winner
ToviaWinner
Winner
Winner

In [2]:
i = 1

while i<=5:
    print('Tovia',end="")
    j = 1
    while j<=3:
        print('Winner',end="")
        j += 1
    i += 1

ToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinner

In [8]:
i = 1

while i<=5:
    print('Tovia',end="")
    j = 1
    while j<=3:
        print('Winner',end="")
        j += 1
    i += 1
    print()

ToviaWinnerWinnerWinner
ToviaWinnerWinnerWinner
ToviaWinnerWinnerWinner
ToviaWinnerWinnerWinner
ToviaWinnerWinnerWinner

In [1]:
i = 1

while i<=5:
    print('Tovia',end="")
    j = 1
    while j<=3:
        print('Winner',end="")
        j += 1
    i += 1

ToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinnerToviaWinnerWinnerWinner

In [10]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In [12]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    else:
        print('Multiplying with {}'.format(i))
        result=result*i
print('i:', i)    
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In [13]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [17]:
for key in person:
    print(key)

name
sex
age
married

In [18]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [30]:
Day = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
for char in Day: 
    if char == "Wednesday":
        print("I don't work on", char, "!")
        continue
    print("Today is", char)

Today is Monday
Today is Tuesday
I don't work on Wednesday !
Today is Thursday
Today is Friday

In [25]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [22]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [26]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [27]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

In [28]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)
    print(day, fruit)

Monday apple
Monday banana
Monday guava
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava
Wednesday guava

Part B: Functions and Scope

In [22]:
def who_is_the_winner():
    print("Tovia is a winner for not quitting!")
    print("I am God's child and i will possess the blessings God keeps for his people")
    print("- Romans 8:17")

In [23]:
who_is_the_winner()

Tovia is a winner for not quitting!
I am God's child and i will possess the blessings God keeps for his people
- Romans 8:17

In [5]:
def even_numbers(number_list):
    number_list = []
    for number in number_list: 
        if number % 2 == 0:
            return number_list.append(number)

In [6]:
even_list = even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [7]:
even_list

In [8]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [13]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [14]:
even_list

[2, 4, 6, 8, 10]

In [12]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])
even_list

[2, 4, 6]

In [2]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

In [3]:
loan_emi(120,10)

The EMI is $12.0

In [4]:
a = 10
def something():
    a = 15
    print("in fun", a)
    
something()
print("outside", a)

in fun 15
outside 10

In [6]:
a = 10
def something():
    global a
    a = 15
    print("in fun", a)
    
something()
print("outside", a)

in fun 15
outside 15

In [7]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [37]:
def round_up(number):
    result = [ ]
    if type(number) == float:
        whole_number = int(number) + 1
        result.append(whole_number)
    return result
    print(figure in result)

In [38]:
round_up(2.25)

[3]

In [34]:
round_up(1.2)

[2]

In [39]:
round_up(2.0)

[3]

In [40]:
round_up(2)

[]

In [43]:
import math
math.ceil(2.0)

2

In [44]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [48]:
loan_emi(800000, 6*12, 0.07/12, 0.25*800000)

10230

In [ ]:
loan_emi()

In [49]:
100000/120

833.3333333333334